<!Doctype>
<html>
<head>
	<title>	2048</title>
	<meta charset="UTF-8">
  <meta name="description" content="2048 Game">
  <meta name="author" content="Arvind K">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/2048.css" rel="stylesheet" type="text/css">
	

</head>
<body id="body">
	
	<h1 class="text-center"id="h1">2048</h1>
	<h4 class="text-center">Use arrow keys to play!!</h4>
	<div class="container" id="container">
		<div class="row">
		<div class="box"id="boxa">1</div>
		<div class="box"id="boxb">2</div>
		<div class="box"id="boxc">3</div>
		<div class="box"id="boxd">4</div>
		</div>
		<div class="row">
		<div class="box"id="boxe">5</div>
		<div class="box"id="boxf">6</div>
		<div class="box"id="boxg">7</div>
		<div class="box"id="boxh">8</div>
		</div>
		<div class="row">
		<div class="box"id="boxi">9</div>
		<div class="box"id="boxj">10</div>
		<div class="box"id="boxk">11</div>
		<div class="box"id="boxl">12</div>
		</div>
		<div class="row">
		<div class="box"id="boxm">13</div>
		<div class="box"id="boxn">14</div>
		<div class="box"id="boxo">15</div>
		<div class="box"id="boxp">16</div>
		</div>
</div>

<script type="text/javascript" src="/2048.js"></script>

</body>
</html>